n8n-docker/backups_manuales/SAMPLE___Gmail_Inbox_review.json
{
  "name": "SAMPLE___Gmail_Inbox_review",
  "nodes": [
    {
      "parameters": {
        "inputText": "=Subject:  {{ $json.Subject }}\nEmail Body: {{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "AI_v1 -> Not Important",
              "description": "Any promotional or advertising emails that I did not explicitly request or that are not a direct response to a previous email I sent.\n\nEmails that attempt to sell a product or service without referencing a prior conversation or action on my part.\n\nSocial media notifications that do not involve direct interactions with me (e.g., general updates, newsletters, engagement summaries).\n\nAny email that appears automated and lacks personal context or relevance to my past communications or interests."
            },
            {
              "category": "AI_v1 -> Important",
              "description": "Any email that is a direct reply to a message I previously sent.\n\nEmails that reference a specific previous interaction, action, or request from me.\n\nMessages from known contacts, colleagues, or services I use regularly, especially if they contain updates or information directly related to me.\n\nTransactional emails that confirm actions I took (e.g., purchases, reservations, account changes).\n\nPersonalized notifications from platforms I use, especially if they mention my name or reference specific activity I initiated.\n\nEmails that include unique information or opportunities directly related to my work, interests, or current tasks."
            },
            {
              "category": "AI_v1 -> Unknown",
              "description": "Emails that doesn't fit previous criterias"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        -380,
        200
      ],
      "id": "e7fb67f3-d7d9-43e5-93be-a499d2bee814",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -300,
        420
      ],
      "id": "91082e8d-93bc-49ad-a1e7-f510dcf512ea",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "aBqdnzUObK4BEGMa",
          "name": "OpenAi account N8N-LOCAL-TEST2"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_789074220795879132",
          "Label_6235120611760018165"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8650f933-39b0-4cce-9f7d-bd86d89172af",
      "name": "AI_v1 -> Not Important",
      "webhookId": "8579ad13-d881-417a-b867-683c237972c9",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_1999246963055338865",
          "Label_6235120611760018165"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        200
      ],
      "id": "2f8dbdcd-948e-44ee-88ef-38b7a7cc628f",
      "name": "AI_v1 -> Important",
      "webhookId": "ab5a5707-20c5-4201-a3d1-de6a51d935c4",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.threadId }}",
        "labelIds": [
          "Label_6056131312529157342",
          "Label_6235120611760018165"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        0,
        400
      ],
      "id": "79ce1cf3-c64a-4a7b-9ae7-f8c86decf475",
      "name": "AI_v1 -> Unknown",
      "webhookId": "497c4ff7-ac61-4bd6-9376-2dd246d6e64b",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "removeLabels",
        "threadId": "={{ $('Text Classifier').item.json.threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        0
      ],
      "id": "c4ccfeca-a1c3-4e6d-8699-1c099f6963ba",
      "name": "Remove INBOX",
      "webhookId": "368e04c3-84bc-4202-b20b-4bfc09a6b17d",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "resource": "thread",
        "operation": "addLabels",
        "threadId": "={{ $('Text Classifier').item.json.threadId }}",
        "labelIds": [
          "INBOX"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        220,
        200
      ],
      "id": "5b1a85ae-d685-4bf3-8416-d053155806a7",
      "name": "Add INBOX",
      "webhookId": "8ee86319-5087-4c71-bcab-03b8339c2a35",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -900,
        200
      ],
      "id": "e404ed2e-9f5f-497d-ba5e-360f3a58ef96",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "limit": 1,
        "filters": {
          "q": "-label:\"Sent Emails\" -label:\"AI_v1\""
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -680,
        200
      ],
      "id": "5deafbc3-f0a9-441c-b54d-b3e5429b468a",
      "name": "Gmail",
      "webhookId": "8872850f-6f64-422e-92ee-7cb4e3d38628",
      "credentials": {
        "gmailOAuth2": {
          "id": "NO1iXO9jk9JI5Y61",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "AI_v1 -> Not Important",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_v1 -> Important",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI_v1 -> Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_v1 -> Not Important": {
      "main": [
        [
          {
            "node": "Remove INBOX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_v1 -> Important": {
      "main": [
        [
          {
            "node": "Add INBOX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_v1 -> Unknown": {
      "main": [
        [
          {
            "node": "Add INBOX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6e79bdc4-34af-443f-b852-f9e9c508ff72",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecc2048cec7da5e6ae1446db4455a9ddeae09ac04e7717e6a0ba018dbd499efd"
  },
  "id": "SELtNiuclPveFM7p",
  "tags": []
}